@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;700;800;900&display=swap');

html{
    font-family: 'Noto Sans', sans-serif;
    /* overflow: hidden; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol,menu{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}


/* ************************
END RESET RULES 
************************ */

.nav-container{
    height: 50px;
    /* width: 100vw; */
    
}

.row-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-link-container-left,.nav-link-left,
.nav-link-container-right,.nav-link-right{
    height: 100%;
    gap: 25px;
}

.nav-link-container-left,
.nav-link-container-right{
    padding: 0 20px 0 20px;
}


.nav-link-container-left .nav-link-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
}

.nav-link-container-right .nav-link-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */

}

.start-button{
    background-color: #0061ff;
    padding: 5px 10px;
    color: white;
} 

.trial-button{
    background-color: rgb(45 84 255);
    padding: 0 20px;
    border: none;
    color: white;
    line-height: 42px;
    white-space: nowrap;
}

.hero{
    padding-top: 50px;
    max-width: 1400px;
    margin: 0 auto;

}
    

.bg-container-hero{
    background-color: #B4D0E7;
    /* width: 100vw; */
    height: 850px;
    margin-bottom: 100px;
    

}


.main-container{
    max-width: 1000px;
    margin: 0 auto;
}

.col-hero{
    padding-bottom: 100px;
}

.col-hero h1{
    font-size: 80px;
    font-weight: 900;
    
}

.hero-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
}

.row-hero-content{
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;
}

.hero-content-img img{
    height: 550px;    
}

.hero-content-img{
    width: max-content;
}

.chevron{
    font-size: 52px;
    font-weight: 900;
    /* transform: translate(0px, 45px); */
    margin-top: auto;
}

.plan-card-title{
    font-size: 36px;
    font-weight: 900;
    padding: 75px 0 25px 0;
}

.facture-type-selection{
    font-weight: normal;
    padding: 25px 0 25px 0;
}

.facture-type-selection label{
    padding-right: 70px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card-row{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 50px;
    /* align-items: stretch; */
}

.card-type{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.card-type span{
    margin-left: 10px;
}

.card-col{
    /* height: 100%; */
    padding: 15px;
    flex-basis: calc(100%/3);
    border: 1px solid gray;
}



.row:not(.no-gutter) [class^='card'] {
	/* border: 4px solid blue; */
	padding: 0 25px;
}    


.card-container{
    min-height: 100%;
    
}

.subscription-title{
    font-weight: 600;
}

.type-title li{
    padding: 10px 0 5px 0;
    display: flex;
    justify-content: space-between

    
}

.type-desc li{
    padding: 5px 0 5px 0;
    display: flex; 

}

.type-cta li{
    padding: 10px 0 15px 0;
    display: flex;

}

.type-feat li{
    padding: 10px 0 5px 0;
    display: flex;
}

.fa-check{
    color: #0061ff;
    /* font-weight: 900; */
    font-size: 20px;
}

ul[class^="type-"]{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin-bottom: 40px;
}

.cta-button{
    background-color: #0061ff;
    padding: 10px 20px;
    border: none;
    height: max-content;
}

.a-button{
    color: white;
}

.type-cta .cta-button{
    width: 100%;
}

ul[class^="type-"] li span:not(.plan-desc) {
    margin-left: 10px;
}

.card-col-bottom{
    /* height: 100%; */
    display: flex;
    padding: 15px;
    flex-basis: 100%;
    border: 1px solid gray;
    flex-direction: column;
}

.card-container-bottom{
    display: flex;
    min-height: 100%;
}

.card-container-bottom .type-title{
    flex-basis: 60%;
}

.button{
    flex-basis: 40%;
    padding: 25px;
    display: flex;
    justify-content: flex-end;
}

.row-middle{
    display: flex;
    margin-top: 50px;
}

.col-middle-3{
    flex-basis: 65%;
}

.col-middle-1{
    flex-basis: 35%;
}

.col-middle-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    align-items: center;
}



    






/* *******************************************
DEBUG RULES 
******************************************* */
.debug .nav-container{
    background-color: yellow;
}

.debug .hero{
    background-color: bisque;
}

.debug .main-container{
    background-color: aqua;
    border: 2px solid black;
}

.debug .card-container{
    border: 1px solid red;
}

.debug .card-col{
    border: 1px solid grey;

}